{#
| Variable                       | Type      | Description                                                                  |
|--------------------------------|---------- |------------------------------------------------------------------------------|
| component                      | object    | Contains merchant settings for fields from twilight.json `component` section |
| component.gender               | genders[] | list of selected brands @see views/pages/brands/single.twig                  |
#}

<section class="s-block s-block--shop-by-gender s-block--full-bg bg-white py-8 sm:py-12">
    <div class="container">   
        <div class="text-center mb-[1.5rem]">
          <h2 class="main-style-title">{{ component.title }}</h2>
        </div>
        <div class="wrapper">
            {% for gender in component.genders %}
              <div class="gender-item">
                <a href="{{ gender.url }}" class="">
                    <img class="" src="{{ gender.image }}" alt="{{ gender.checkbox_list }}"/>
                </a>
                <h4 class="">{{gender.checkbox_list}}</h4>
              </div>  
            {% endfor %}
        </div>
    </div>
</section>