<div class="s-block container">
    {% if title %}
      <div class="s-block__title">
        <div class="right-side">
          <h2>{{ title }}</h2>
        </div>
        {% if display_all_url %}
        <a href="{{ display_all_url }}" class="s-block__display-all">{{ trans('blocks.home.display_all') }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if products|length %}
        {% set slider_config = {
            "slidesPerView":1,
            "spaceBetween":10,
            "breakpoints": {
                "320": {"slidesPerView":2},
                "640": {"slidesPerView":3},
                "1024": {"slidesPerView":4},
                "1280": {"slidesPerView":5}
            }
        } %}

        <salla-products-slider
        source="selected"
            slider-config={{ slider_config|json_encode }}
            limit="{{ limit }}"
            {{ autoplay ? 'autoplay' : '' }}
            source-value="[{{ products|map((product) => product.id)|join(',') }}]"
            class="products-slider"
            slider-id="slider-with-bg-{{ position }}"
        ></salla-products-slider>
    {% endif %}
</div>